<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>catalog view</title>
    <style th:replace="fragments :: styleOne"></style>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>


<h1>more info</h1><br>
<div>
    id:
    <span th:text="${good.getId()}"></span><br>
    name:
    <span th:text="${good.getGoodName()}"></span><br>
    desc:
    <span th:text="${good.getGoodsDesc()}"></span><br>
    price:
    <span th:text="${good.getPrice()}"></span><br>
    category:
    <span th:text="${good.getCategory()}"></span><br>
    <img class="ph" th:src="${'/img/' + good.filename}" alt="some photo"><br>
</div>

<form action="/deleteGood" method="post">
    <input type="hidden" name="id" th:value="${good.getId()}">
    <input type="submit" value="delete">
</form>


<footer th:replace="fragments :: information"></footer>
</body>
</html>