<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <style>-->
<!--        .navigation {-->
<!--            background-color: #333;-->
<!--            display: flex;-->
<!--            justify-content: center;-->
<!--        }-->

<!--        .navigation-list {-->
<!--            list-style-type: none;-->
<!--            margin: 0;-->
<!--            padding: 0;-->
<!--            display: flex;-->
<!--        }-->

<!--        .navigation-item {-->
<!--            margin: 0 10px;-->
<!--        }-->

<!--        .navigation-link {-->
<!--            display: block;-->
<!--            color: #fff;-->
<!--            padding: 10px;-->
<!--            text-decoration: none;-->
<!--        }-->

<!--        .navigation-link:hover {-->
<!--            background-color: #555;-->
<!--        }-->

    </style>
</head>
<body>

<nav th:fragment="navigation" class="navigation">
    <ul class="navigation-list">
        <li class="navigation-item"><a href="#" class="navigation-link">Home</a></li>
        <li class="navigation-item"><a href="#" class="navigation-link">About</a></li>
        <li class="navigation-item"><a href="#" class="navigation-link">Services</a></li>
        <li class="navigation-item"><a href="#" class="navigation-link">Contact</a></li>
    </ul>
</nav>

</body>
</html>