<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<span th:text="${'/qwe/' + png}"></span><br>

<img src="/uploads/2b2c5a65-d74e-4965-b5c7-92beee371933.Screenshot from 2023-04-19 23-36-08.png" alt="awdwad"><br>

<img th:src="${'/img/' + png}" alt="finweoifnaeowinf">
</body>
</html>